<div ng-include="'views/partials/userNav.html'"></div>
<div class="container">
    <h2 style="text-align: center" class="lead">Exercises</h2>
    <div class="row muscle">
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Chest.png" alt="" class="img-thumbnail image">
            </a>
            <p>Chest</p>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Arms.png" alt="" class="img-thumbnail image">
            </a>
            <p>Arms</p>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Shoulder.png" alt="" class="img-thumbnail image">
            </a>
            <p>Shoulders</p>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Back.png" alt="" class="img-thumbnail image">
            </a>
            <p>Back</p>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Legs.png" alt="" class="img-thumbnail image">
            </a>
            <p>Legs</p>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <a href="#/workout" class="imgClick">
                <img src="/views/images/Cardio.png" alt="" class="img-thumbnail image">
            </a>
            <p>Cardio</p>
        </div>
    </div>
</div>